<h4>Contas</h4>

<form class="form-inline" id="formOperacoesContas">
  <input type="text" class="form-control col-sm-7" placeholder="Pesquisar contas">
  <button class="btn btn-primary col-sm-2">Pesquisar <i class="fas fa-search"></i></button>
  <button class="btn btn-warning col-sm-2" data-toggle="modal" data-target="#modalNovaConta">Nova <i class="far fa-plus-square"></i></button>
</form>

<br/>

<div class="alert alert-info" ng-show="carregando">
	<h5>Carregando...</h5>
</div>

<div class="alert alert-success" ng-show="menssagem.sucesso">
	{{menssagem.descricao}}
</div>

<div class="alert alert-danger" ng-show="menssagem.erro">
	{{menssagem.descricao}}
</div>

<br/>

<div id="exibirContas" class="container">
	<table class="table table-sm">
		<thead>
			<tr>
				<th>Descrição</th>
				<th>Tipo</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="conta in listaContas">
				<td>{{conta.Descricao}}</td>
				<td>{{conta.Tipo}}</td>
				<td>
					<button type="button" class="btn btn-info" ng-click="obterConta(conta.Id)" data-toggle="modal" data-target="#modalEditarConta">
						<i class="far fa-edit"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>	

<!-- Modal Nova Conta -->
<div class="modal fade" id="modalNovaConta" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nova Conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
      	<form name="formNovaConta">
      		<div class="form-group row">
      			<label class="col-sm-2">Descrição : </label>
      			<div class="col-sm-10">
      				<input class="form-control" ng-model="newConta.Descricao" type="text" required>
      			</div>
      		</div>

      		<div class="form-group row">
      			<label class="col-sm-2">Tipo : </label>
      			<div class="col-sm-10">
      				<select class="form-control" ng-model="newConta.Tipo" ng-options="tipo for tipo in tiposConta" required></select>
      			</div>
      		</div>      		
      	</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cadastrarConta(newConta)" ng-disabled="formNovaConta.$invalid">Cadastrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Editar Conta -->
<div class="modal fade" id="modalEditarConta" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Conta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form name="formEditarConta">
          <div class="form-group row">
            <label class="col-sm-2">Descrição : </label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="editarConta.Descricao" type="text" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2">Tipo : </label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="editarConta.Tipo" ng-options="tipo for tipo in tiposConta" required></select>
            </div>
          </div>          
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-disabled="formEditarConta.$invalid" ng-click="updateConta(editarConta)">Atualizar</button>
      </div>
    </div>
  </div>
</div>