<div class="alert alert-info" ng-show="exibirCarregando">
  <h4>Carregando...</h4>
</div>
<div class="alert alert-danger" ng-show="menssagem.erro">
  {{menssagem.descricao}}<br/>
  {{menssagem.excessao}}
 </div>   
 <div class="alert alert-success" ng-show="menssagem.sucesso">
  {{menssagem.descricao}}
 </div>   

<form name="formPesquisarQuandoPagar">
  <div class="row">
    <div class="col input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Mês : </div>
      </div>
      <input ng-model="filtroMes" type="month" class="form-control" style="margin-right: 5px;" ng-required="true">
      <button class="btn btn-primary" ng-disabled="formPesquisarQuandoPagar.$invalid" ng-click="getQuandoPagar(getDataFiltroFormatada())">Filtrar</button>
    </div>

    <div class="col input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Total de gastos previstos : </div>
      </div>
      <input value="{{totalQuantoPagarMes | currency}}" type="text" class="form-control" disabled style="margin-right: 5px;">
      <button class="btn btn-warning" data-toggle="modal" data-target="#modalCenterNovoQuandoPagar">Novo</button>
    </div>
  </div>
</form>
<br/>
<label>Gastos estimados em relação ao limite de Despesas</label>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: {{PorcetagemQuandoPagarDespesa}}%;" aria-valuenow="{{PorcetagemQuandoPagarDespesa}}" aria-valuemin="0" aria-valuemax="100">{{PorcetagemQuandoPagarDespesa}}%</div>
  <!-- O que setar entre a div a é o que vai aparecer, lembra de mudar o valor de width e de aria-valuenow para acompanhar o real estado da porcentagem.-->
</div>
<br/>


<table class="table table-sm">
  <tr>
    <th>Data</th>
    <th>Descrição</th>
    <th>Valor</th>    
    <th></th>
    <th></th>
  </tr>
  <tr ng-repeat="quandoPagar in listaQuandoPagar" ng-class="{'alert-success' : quandoPagar.Status}">
    <td>{{quandoPagar.Data.dayOfMonth + '/' + (quandoPagar.Data.month + 1) + '/' + quandoPagar.Data.year}}</td>
    <td ng-bind="quandoPagar.Descricao"></td>
    <td ng-bind="quandoPagar.Valor | currency"></td>    
    <td>
      <button type="button" class="btn btn-success" ng-click="atualizarStatus(quandoPagar.Id)">
        <i class="fas fa-money-bill-alt"></i>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-info" ng-click="getQuandoPagarEditar(quandoPagar.Id)"
      data-toggle="modal" data-target="#modalCenterEditarQuandoPagar">
        <i class="far fa-edit"></i>
      </button>
    </td>
  </tr> 
</table>



<!-- Modal Novo Quando Pagar -->
<div class="modal fade" id="modalCenterNovoQuandoPagar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Novo "Quando Pagar"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formNovoQuandoPagar">
          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Descrição :</label>
            <div class="col-sm-9">  
              <input type="text" class="form-control" ng-model="newQuandoPagar.Descricao" ng-required="true">
            </div>  
          </div>

          <br/>

          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Valor :</label>
            <div class="col-sm-9">  
               <input class="form-control" ng-model="newQuandoPagar.Valor" ng-required="true" 
                type="number" min="1" step="any" >
                <!-- type="number" min="1" step="any"  isso é para fazer o html receber valores fracionados mais condigentes com a situação de moeda e o mim é para ser valores maiores ou iguais a 1 ou seja maior que 1 não negativos e não iguais a 0-->
            </div>  
          </div>

          <br/>

          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Data :</label>
            <div class="col-sm-9">  
              <input type="date" class="form-control" ng-model="newQuandoPagar.Data" ng-required="true">
            </div>  
          </div>

          <br/>       
        </form>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formNovoQuandoPagar.$invalid" ng-click="novoQuandoPagar(newQuandoPagar)">Cadastrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Editar Quando Pagar -->
<div class="modal fade" id="modalCenterEditarQuandoPagar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">"Quando Pagar" {{quandoPagarEditar.Id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formEditarQuandoPagar">
          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Descrição :</label>
            <div class="col-sm-9">  
              <input type="text" class="form-control" ng-model="quandoPagarEditar.Descricao" ng-required="true">
            </div>  
          </div>

          <br/>

          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Valor :</label>
            <div class="col-sm-9">  
               <input class="form-control" ng-model="quandoPagarEditar.Valor" ng-required="true" 
                type="number" min="1" step="any" >
                <!-- type="number" min="1" step="any"  isso é para fazer o html receber valores fracionados mais condigentes com a situação de moeda -->
            </div>  
          </div>

          <br/>

          <div class="input-group row">
            <label class="col-sm-3 col-form-label">Data :</label>
            <div class="col-sm-9">  
              <input type="date" class="form-control" ng-model="quandoPagarEditar.Data" ng-required="true">
            </div>  
          </div>

          <br/>       

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Status :</label>
            <div class="col-sm-9">
              <select class="form-control" ng-model="quandoPagarEditar.Status" ng-options="opcaoQuandoPagar.descricao for opcaoQuandoPagar in opcoesQuitacao track by opcaoQuandoPagar.quitacao" ng-required="true" style="margin-left: -6px;">
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formEditarQuandoPagar.$invalid" ng-click="updateQuandoPagarEditar(quandoPagarEditar)">Atualizar</button>
      </div>
    </div>
  </div>
</div>