<div ng-if="ocultarFormularios == false">

	<h5>Gráfico de Receitas Despesas Anual</h5>
	<div class="form-row">

		<div class="form-group col-md-4">
			<select ng-options="conta as (conta.Descricao + '-' + conta.Tipo) for conta in listaContas track by conta.Id" class="form-control" ng-model="requestRelatorioReceitaDespesa.conta" required></select>
		</div>
		
		<div class="form-group col-md-4">
			<input type="text" maxlength="4" class="form-control" placeholder="Ano" ng-model="requestRelatorioReceitaDespesa.ano" required>
		</div>

		<div class="form-group col-md-4">
			<button class="btn btn-info" ng-click="relatorioReceitaDespesas(requestRelatorioReceitaDespesa)"> Gerar Relátorio</button>
		</div>

	</div>

</div>

<!-- Grafíco  de barras para receita e despesa, não tá bem desenvolvido não mais já dapara ter uma noção -->
<div ng-if="ocultarGraficoReceitaDespesa == false">
	<h5>Gráfico de Barras Receitas <=> Despesas da Conta : {{tituloReceitaDespesa.Conta}}, Ano: {{tituloReceitaDespesa.Ano}}</h5>

	<hr>

	<!-- Gráfico de Barras para Receitas e Despesas Anuais -->
	<div style="display: block; height: 400px; width: 900px; margin-bottom: 50px;">
		<canvas id="bar" class="chart chart-bar" 
			chart-data="data" chart-labels="labels"	chart-series="series" chart-colors="colors">
		</canvas>
	</div>

		<div ng-if="exibirTabelaReceitaDespesa == true">
			<hr>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Mês</td>
						<th scope="col">Receita</td>
						<th scope="col">Despesa</td>
						<th scope="col">Resultado</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="itemRelatorioReceitaDespesas in listaRelatorioReceitaDespesa" >
						<td>{{itemRelatorioReceitaDespesas.nomeMes}}</td>
						<td>{{itemRelatorioReceitaDespesas.valorReceita | currency}}</td>
						<td>{{itemRelatorioReceitaDespesas.valorDespesa | currency}}</td>
						<td>{{(itemRelatorioReceitaDespesas.valorReceita - itemRelatorioReceitaDespesas.valorDespesa) | currency}}</td>
					</tr>
				</tbody>
			</table>
			<hr>
		</div>

	<button class="btn btn-success" ng-click="voltar()">Voltar</button>
</div>


