<br/>

<div class="alert alert-info" ng-show="exibirCarregando">
	<h4>Carregando...</h4>
</div>
<div class="alert alert-danger" ng-show="menssagem.erro">
	{{menssagem.descricao}}<br/>
	{{menssagem.excessao}}
</div>   
<div class="alert alert-success" ng-show="menssagem.sucesso">
	{{menssagem.descricao}}
</div>   

<form class="form-row" name="requisicaoLancamento">
	<div class="form-group col-md-4">
		<label>Conta : </label>
		<select id="contasUsuarioSelect" ng-options="conta as (conta.Descricao + '-' + conta.Tipo) for conta in listaContas track by conta.Id" class="form-control" ng-model="requestLancamentos.conta" required></select>
	</div>
	<div class="form-group col-md-3">
		<label>Data Inicial : </label>
		<input type="date" class="form-control" ng-model="requestLancamentos.dataInicial" ng-required="true">
	</div>	
	<div class="form-group col-md-3">
		<label>Data Final : </label>
		<input type="date" class="form-control" ng-model="requestLancamentos.dataFinal" ng-required="true">
	</div>
	<div class="form-group">
		<button class="btn btn-primary" style="margin-top: 33px;" ng-click="obterLancamentos(requestLancamentos)" ng-disabled="requisicaoLancamento.$invalid">Buscar</button>
	</div>
	<div class="form-group">
		<button class="btn btn-warning" style="margin-top: 33px; margin-left: 5px;" data-toggle="modal" data-target="#modalCenterNovoLancamento">Novo</button>
	</div>
</form>


<div class="container" style="height: 10%; float: right; text-align: right; padding-right: 280px;">
	Saldo Anterior : {{saldoAnterior | currency}}
</div>

<div class="container" style="height: 57%; overflow: auto;">
	<table class="table table-sm">
	  <tr>
	    <th>Data</th>
	    <th>Descrição</th>
	    <th>Valor</th>  
	    <th>Saldo</th>    
	    <th></th>
	    <th></th>
	  </tr>
	  <tr ng-repeat="lancamento in listaLancamentos">
	    <td>{{lancamento.data.dayOfMonth + '/' + (lancamento.data.month + 1) + '/' + lancamento.data.year}}</td>
	    <td ng-bind="lancamento.descricao"></td>
	    <td ng-bind="lancamento.Valor | currency"></td>   
	    <td ng-bind="lancamento.saldo | currency"></td>    
	    <td>
	      <button type="button" class="btn btn-info" ng-click="obterLancamento(lancamento.id)" data-toggle="modal" data-target="#modalCenterEditarLancamento">
	        <i class="far fa-edit"></i>
	      </button>
	    </td>
	    <td>
	      <button type="button" class="btn btn-danger" ng-click="deleteLancamento(lancamento.id)">
	        <i class="fas fa-trash-alt"></i>
	      </button>
	    </td>
	  </tr> 
	</table>
</div>	

<div class="container" style="height: 10%; float: right; text-align: right; padding-right: 280px;">
	Saldo Total : {{saldoTotal | currency}}
</div>

<!-- Modal Novo Lançamento Pagar -->
<div class="modal fade" id="modalCenterNovoLancamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Novo Lançamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formNovoLancamento">
        	<div class="form-row">
	        	<div class="form-group col-md-4">
					<label>Data : </label>
					<input class="form-control" type="date" ng-model="novoLancamento.data" ng-required="true">
				</div>
	        	<div class="form-group col-md-4">
					<label>Conta : </label>
					<select ng-options="conta as (conta.Descricao + '-' + conta.Tipo) for conta in listaContas track by conta.Id" class="form-control" ng-model="novoLancamento.conta" ng-required="true"></select>
				</div>
				<div class="form-group col-md-4">
					<label>Valor : </label>
					<input class="form-control" ng-model="novoLancamento.valor" ng-required="true" type="number" step="any" >
                	<!-- type="number" step="any"  isso é para fazer o html receber valores fracionados mais condigentes com a situação de moeda -->
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>Descrição : </label>
					<input type="text" ng-model="novoLancamento.descricao" class="form-control" ng-required="true">
				</div>
            </div>    
        </form>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formNovoLancamento.$invalid" ng-click="cadastrarLancamento(novoLancamento)">Cadastrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar Lançamento Pagar -->
<div class="modal fade" id="modalCenterEditarLancamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Lançamento {{editarLancamento.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formEditarLancamento">
        	<div class="form-row">
	        	<div class="form-group col-md-4">
					<label>Data : </label>
					<input class="form-control" type="date" ng-model="editarLancamento.data" ng-required="true">
				</div>
	        	<div class="form-group col-md-4">
					<label>Conta : </label>
					<select ng-options="conta as (conta.Descricao + '-' + conta.Tipo) for conta in listaContas track by conta.Id" class="form-control" ng-model="editarLancamento.conta" ng-required="true"></select>
				</div>
				<div class="form-group col-md-4">
					<label>Valor : </label>
					<input class="form-control" ng-model="editarLancamento.valor" ng-required="true" type="number" step="any" >
                	<!-- type="number" step="any"  isso é para fazer o html receber valores fracionados mais condigentes com a situação de moeda -->
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>Descrição : </label>
					<input type="text" ng-model="editarLancamento.descricao" class="form-control" ng-required="true">
				</div>
            </div>    
        </form>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formEditarLancamento.$invalid" ng-click="atualizarLancamento(editarLancamento)">Editar</button>
      </div>
    </div>
  </div>
</div>
