
<div id="boxPesquisaUsuarios">
	<div class="form-inline">
		<input ng-model="parametroPesquisa.dados" type="text" class="form-control col-sm-9" placeholder="Digite sua pesquisa.." ng-keypress="pesquisarUsuarios(parametroPesquisa)">
		<button class="btn btn-info col-sm-2" data-toggle="modal" data-target="#modalCenterNovoUsuario">Novo Usuário</button>
	</div>
</div>

<br/>

<div class="alert alert-info" ng-show="exibirCarregando">
	<h4>Carregando...</h4>
</div>	

<div class="alert alert-info" ng-show="boxMsgSucessAdmUsuario">
	{{msgSucessAdmUsuario}}
</div>

<div class="alert alert-danger" ng-show="boxMsgErroAdmUsuario"> 
	{{msgErroAdmUsuario}}
</div>	

<div id="boxExibeUsuarios" class="col-sm-12">
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Email</th>
				<th scope="col">Nivel</th>
				<th scope="col">Cadastro em</th>
				<th scope="col">Editar</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Usuario in listaUsuarios">
				<td>{{Usuario.Id}}</td>
				<td>{{Usuario.Nome}}</td>
				<td>{{Usuario.Email}}</td>
				<td>{{Usuario.Nivel}}</td>
				<!-- No mes é necessário somar um por que janeiro é 0 -->
				<td>{{Usuario.DataHora_Criacao.dayOfMonth + '/' + (Usuario.DataHora_Criacao.month + 1) + '/' + Usuario.DataHora_Criacao.year}}</td>
				<td><button class="btn btn-warning btn-sm" ng-click="getUsuario(Usuario.Id)"
					data-toggle="modal" data-target="#modalCenterEditarUsuario">Editar</button></td>
			</tr>
		</tbody>
	</table>
</div>


<!-- Modal Novo Usuario -->
<div class="modal fade" id="modalCenterNovoUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Novo Usuário</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="formNovoUsuario">
					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Nome :</label>
						<div class="col-sm-9">  
							<input type="text" class="form-control" ng-model="newUsuario.Nome" ng-required="true">
						</div>  
					</div>

					<br/>

					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Email :</label>
						<div class="col-sm-9">  
							<input type="text" class="form-control" ng-model="newUsuario.Email" ng-required="true">
						</div>  
					</div>

					<br/>

					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Senha :</label>
						<div class="col-sm-9">  
							<input type="password" class="form-control" ng-model="newUsuario.Senha" ng-required="true">
						</div>  
					</div>

					<br/>

					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Nivel :</label>
						<div class="col-sm-9">  
							<select class="form-control" ng-model="newUsuario.Nivel" ng-options="nivelUsuario for nivelUsuario in niveisUsuario" ng-required="true"></select>	            	
						</div>  
					</div>         
				</form>
			</div>
			<div class="modal-footer">      
				<button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="formNovoUsuario.$invalid" ng-click="salvarUsuario(newUsuario)">Cadastrar</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal Editar Usuario -->
<div class="modal fade" id="modalCenterEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Editar Usuário : {{usuarioEditar.Id}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="formEditarUsuario">
					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Nome :</label>
						<div class="col-sm-9">  
							<input type="text" class="form-control" ng-model="usuarioEditar.Nome" ng-required="true">
						</div>  
					</div>

					<br/>

					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Email :</label>
						<div class="col-sm-9">  
							<input type="text" class="form-control" ng-model="usuarioEditar.Email" ng-required="true">
						</div>  
					</div>

					<br/>

					<div class="input-group row">
						<label class="col-sm-3 col-form-label">Nivel :</label>
						<div class="col-sm-9">  
							<select class="form-control" ng-model="usuarioEditar.Nivel" ng-options="nivelUsuario for nivelUsuario in niveisUsuario" ng-required="true"></select>	            	
						</div>  
					</div>         
				</form>
			</div>
			<div class="modal-footer">      
				<button type="button" class="btn btn-dark" data-dismiss="modal">Sair</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-disabled="formEditarUsuario.$invalid" ng-click="updateUsuario(usuarioEditar)">Salvar</button>
			</div>
		</div>
	</div>
</div>

