<div class="form-row align-items-center">
  <div class="col-sm-10 my-1">      
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Limite : </div>
      </div>
      <input type="text" class="form-control" ng-model="limite.Valor">
    </div>
  </div>
  <div class="col-auto my-1">
    <button class="btn btn-danger" ng-click="updateLimite(limite)">Atualizar Limite</button>
  </div>
</div>

<div class="alert alert-info" ng-show="exibirCarregando">
  <h4>Carregando...</h4>
</div>  
<div class="alert alert-warning" ng-show="exibirMsg">
  {{dadosMensagem}}
</div>